.call-to-action{
  height: 76px;
  font-size: 28px;
  font-family: ProximaNovaSemibold;
  line-height: 76px;
  background: #67b23b;
  color: #fff;
  text-align: center;
  >p{
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
  }
}